<!-- Tables -->
<div class="row">

    <!-- Widget listing -->
    <div class="col-lg-12" >
        <div class="widget">
            <div class="widget-header">Widgets</div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="text-center">ID</th>
                        <th>Name</th>
                        <th>Color</th>
                        <th>Price</th>
                        <th>Melts?</th>
                        <th>Inventory</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="text-center" id="widgetId">
                            <span ng-hide="widgetEditor">{{activeWidget.id}}</span>
                            <input type="text" ng-show="widgetEditor" ng-model="activeWidget.id" style="width:50px; text-align: center;"/>
                        </td>
                        <td id="widgetName">
                            <span ng-hide="widgetEditor">{{activeWidget.name}}</span>
                            <input type="text" ng-show="widgetEditor" ng-model="activeWidget.name" />
                        </td>
                        <td id="widgetColor">
                            <span ng-hide="widgetEditor">{{activeWidget.color}}</span>
                            <select ng-show="widgetEditor" ng-model="activeWidget.color" class="input-large">
                                <option>red</option>
                                <option>purple</option>
                                <option>black</option>
                                <option>green</option>
                                <option>magenta</option>
                                <option>white</option>
                                <option>depends on the viewing angle</option>
                            </select>
                        </td>
                        <td id="widgetPrice">
                            <span ng-hide="widgetEditor">{{activeWidget.price | currency}}</span>
                            <input ng-show="widgetEditor" type="text" ng-model="activeWidget.price" />
                        </td>
                        <td id="widgetMelts">
                            <span ng-hide="widgetEditor">{{activeWidget.melts}}</span>
                            <input ng-show="widgetEditor" type="checkbox" ng-model="activeWidget.melts" />
                        </td>
                        <td id="widgetInventory">
                            <span ng-hide="widgetEditor">{{activeWidget.inventory}}</span>
                            <input ng-show="widgetEditor" type="number" ng-model="activeWidget.inventory" />
                        </td>
                        <td class="edit btn-primary text-center" ng-click="widgetEditor = true;" ng-hide="widgetEditor">Edit</td>
                        <td class="edit btn-primary text-center" ng-click="widgetUpdate(activeWidget); widgetEditor = false;" ng-show="widgetEditor">Save</td>
                        <td class="delete btn-danger text-center" ng-click="widgetEditor = false" ng-show="widgetEditor">Cancel</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div><!-- End Widgets -->

</div><!-- End Row -->